{% extends 'base.html' %}
{% load static %}

{% block title %}Acasă - ZypronTech{% endblock %}

{% block content %}
<section class="hero">
    <h2>Power. Performance. Precision.</h2>
    <p>At ZypronTech you will find tech products, PC components, peripherals and gadgets chosen for performance, style and premium experience.</p>
    <a class="btn" href="{% url 'store:product_list' %}">Vezi produsele</a>
</section>


<section>
    <h3>Recent  Products</h3>
    <div class="grid">
        {% for product in products %}
            <div class="card">
                <img src="{% static product.main_image %}" alt="{{ product.name }}">
                <h4>{{ product.name }}</h4>
                <p>{{ product.price }}</p>
                <a class="btn small" href="{% url 'store:product_detail' product.slug %}">Detalii</a>
            </div>
        {% empty %}
            <p>There are no products yet.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}


<p class="recent-subtext">
    Check out the latest tech gear, PC components, and gaming accessories, handpicked for performance, style, and standout setups.
</p>